# Introduction to Data Analysis with python

In [2]:
!pip install pandas numpy matplotlib

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy
  Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl.metadata (59 kB)
Collecting matplotlib
  Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.0-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.4.0-cp312-cp312-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -------- ------------------------------- 2.4/11.5 MB 11.2 MB/s eta 0:00:01
   ----------------- ---------------------- 5.0/11.5 MB 11.6 MB/s eta 0:00:01
   ------------------------- -------------- 7.3/11.5 MB 11.6 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 10.7 MB/s eta 0:00:00
Downloading numpy-2.1.1-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------ --------------------------------- 2.1/12.6 MB 11.8 MB/s eta 0:00:01
   --------- ------------------------------ 2.9/12.6 MB 6.2 MB/s eta 0:00:02
   ------------------------- -------------- 7.9/12.6 MB 11.9 MB/s eta 0:00:01
   --------------------------------- ------ 10.5/12.6 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------  12.3/12.6 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 11.1 MB/s eta 0:00:00
Downloading matplotlib-3.9.2-cp312-cp312-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   -------- ------------------------------- 1.6/7.8 MB 12.0 MB/s eta 0:00:01
   ---------------- ----------------------- 3.1/7.8 MB 7.1 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 7.6/7.8 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 9.1 MB/s eta 0:00:00
Downloading contourpy-1.3.0-cp312-cp312-win_amd64.whl (218 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   -------------------------------------- - 2.1/2.2 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 2.1/2.2 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 4.6 MB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp312-cp312-win_amd64.whl (55 kB)
Downloading pillow-10.4.0-cp312-cp312-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------------ --------------------------- 0.8/2.6 MB 11.2 MB/s eta 0:00:01
   ------------------------------------ --- 2.4/2.6 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 5.4 MB/s eta 0:00:00
Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 numpy-2.1.1 pandas-2.2.3 pillow-10.4.0 pyparsing-3.1.4 pytz-2024.2 tzdata-2024.2

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('C:/Users/Pc/Documents/country_comparison_large_dataset.csv')

In [6]:
df

,Country,Year,GDP (in Trillions USD),GDP per Capita (in USD),Inflation Rate (%),Population (in Millions),Population Growth Rate (%),Urban Population (%),Life Expectancy (Years),Healthcare Expenditure per Capita (USD),...,Poverty Rate (%),Number of International Visitors (in Millions),Tourism Revenue (in Billion USD),Agricultural Land (%),Unemployment Rate (%),Labor Force Participation Rate (%),"Crime Rate (per 100,000)",Corruption Perception Index,Freedom of Press Index,Voting Participation Rate (%)
0,USA,2000,20.87,65455.0,2.28,330.34,0.58,83.42,78.39,11209.00,...,10.98,80.80,210.98,42.37,3.55,65.52,287.40,67.41,45.27,68.81
1,Russia,2000,1.64,10923.0,3.25,141.81,0.10,72.67,69.91,534.45,...,12.89,24.70,36.47,12.53,4.63,57.54,497.50,30.90,146.10,65.00
2,Canada,2000,1.65,47932.0,1.96,36.63,0.90,79.54,84.60,5113.50,...,9.46,22.33,29.52,7.22,5.43,65.06,795.20,74.74,16.42,63.00
3,China,2000,13.64,10060.0,2.43,1446.93,0.31,58.56,76.09,459.00,...,2.04,62.20,115.80,54.00,3.68,63.13,102.90,41.75,185.32,72.14
4,India,2000,2.98,2102.1,4.87,1313.76,1.04,34.09,68.78,76.07,...,22.25,11.25,29.12,57.60,7.31,52.10,245.25,40.12,136.36,67.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Russia,2023,1.64,10978.0,3.20,138.04,0.10,71.56,73.47,539.70,...,12.36,24.55,35.28,12.54,4.69,58.62,477.50,31.02,150.15,65.33
140,Canada,2023,1.73,44804.0,1.88,35.59,0.93,83.11,79.17,5139.75,...,9.24,21.32,29.13,6.96,5.44,64.61,800.80,72.37,15.52,62.28
141,China,2023,13.72,9870.0,2.29,1407.79,0.29,61.86,73.10,430.20,...,1.92,64.67,116.76,56.54,3.58,65.77,95.30,43.22,184.26,71.14
142,India,2023,2.79,2070.6,4.70,1411.74,1.03,34.05,70.09,76.07,...,21.94,10.74,28.00,57.36,7.16,48.25,240.75,41.36,133.28,66.20
143,Australia,2023,1.27,51304.0,1.54,24.38,1.36,84.37,83.40,5434.00,...,9.99,9.77,58.26,53.80,4.75,69.23,910.80,75.92,25.88,94.39

In [7]:
print(df.head())

  Country  Year  GDP (in Trillions USD)  GDP per Capita (in USD)  \
0     USA  2000                   20.87                  65455.0
1  Russia  2000                    1.64                  10923.0
2  Canada  2000                    1.65                  47932.0
3   China  2000                   13.64                  10060.0
4   India  2000                    2.98                   2102.1

   Inflation Rate (%)  Population (in Millions)  Population Growth Rate (%)  \
0                2.28                    330.34                        0.58
1                3.25                    141.81                        0.10
2                1.96                     36.63                        0.90
3                2.43                   1446.93                        0.31
4                4.87                   1313.76                        1.04

   Urban Population (%)  Life Expectancy (Years)  \
0                 83.42                    78.39
1                 72.67                    69.91
2                 79.54                    84.60
3                 58.56                    76.09
4                 34.09                    68.78

   Healthcare Expenditure per Capita (USD)  ...  Poverty Rate (%)  \
0                                 11209.00  ...             10.98
1                                   534.45  ...             12.89
2                                  5113.50  ...              9.46
3                                   459.00  ...              2.04
4                                    76.07  ...             22.25

   Number of International Visitors (in Millions)  \
0                                           80.80
1                                           24.70
2                                           22.33
3                                           62.20
4                                           11.25

   Tourism Revenue (in Billion USD)  Agricultural Land (%)  \
0                            210.98                  42.37
1                             36.47                  12.53
2                             29.52                   7.22
3                            115.80                  54.00
4                             29.12                  57.60

   Unemployment Rate (%)  Labor Force Participation Rate (%)  \
0                   3.55                               65.52
1                   4.63                               57.54
2                   5.43                               65.06
3                   3.68                               63.13
4                   7.31                               52.10

   Crime Rate (per 100,000)  Corruption Perception Index  \
0                    287.40                        67.41
1                    497.50                        30.90
2                    795.20                        74.74
3                    102.90                        41.75
4                    245.25                        40.12

   Freedom of Press Index  Voting Participation Rate (%)
0                   45.27                          68.81
1                  146.10                          65.00
2                   16.42                          63.00
3                  185.32                          72.14
4                  136.36                          67.65

[5 rows x 36 columns]

In [9]:
print(df.shape)

(144, 36)

In [10]:
print(df.columns)

Index(['Country', 'Year', 'GDP (in Trillions USD)', 'GDP per Capita (in USD)',
       'Inflation Rate (%)', 'Population (in Millions)',
       'Population Growth Rate (%)', 'Urban Population (%)',
       'Life Expectancy (Years)', 'Healthcare Expenditure per Capita (USD)',
       'Doctor-to-Patient Ratio', 'Literacy Rate (%)',
       'Education Expenditure as % of GDP', 'Internet Penetration (%)',
       'Smartphone Adoption (%)', 'Energy Consumption (TWh)',
       'Renewable Energy Share (%)', 'Military Expenditure (in Billion USD)',
       'Number of Active Military Personnel',
       'CO2 Emissions (Million Metric Tons)', 'Forest Coverage (%)',
       'Number of Airports', 'Road Network Length (in km)',
       'Public Transport Usage (%)', 'Human Development Index (HDI)',
       'Gender Equality Index', 'Poverty Rate (%)',
       'Number of International Visitors (in Millions)',
       'Tourism Revenue (in Billion USD)', 'Agricultural Land (%)',
       'Unemployment Rate (%)', 'Labor Force Participation Rate (%)',
       'Crime Rate (per 100,000)', 'Corruption Perception Index',
       'Freedom of Press Index', 'Voting Participation Rate (%)'],
      dtype='object')

In [11]:
print(df.dtypes)

Country                                            object
Year                                                int64
GDP (in Trillions USD)                            float64
GDP per Capita (in USD)                           float64
Inflation Rate (%)                                float64
Population (in Millions)                          float64
Population Growth Rate (%)                        float64
Urban Population (%)                              float64
Life Expectancy (Years)                           float64
Healthcare Expenditure per Capita (USD)           float64
Doctor-to-Patient Ratio                           float64
Literacy Rate (%)                                 float64
Education Expenditure as % of GDP                 float64
Internet Penetration (%)                          float64
Smartphone Adoption (%)                           float64
Energy Consumption (TWh)                          float64
Renewable Energy Share (%)                        float64
Military Expenditure (in Billion USD)             float64
Number of Active Military Personnel               float64
CO2 Emissions (Million Metric Tons)               float64
Forest Coverage (%)                               float64
Number of Airports                                float64
Road Network Length (in km)                       float64
Public Transport Usage (%)                        float64
Human Development Index (HDI)                     float64
Gender Equality Index                             float64
Poverty Rate (%)                                  float64
Number of International Visitors (in Millions)    float64
Tourism Revenue (in Billion USD)                  float64
Agricultural Land (%)                             float64
Unemployment Rate (%)                             float64
Labor Force Participation Rate (%)                float64
Crime Rate (per 100,000)                          float64
Corruption Perception Index                       float64
Freedom of Press Index                            float64
Voting Participation Rate (%)                     float64
dtype: object

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 36 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         144 non-null    object
 1   Year                                            144 non-null    int64
 2   GDP (in Trillions USD)                          144 non-null    float64
 3   GDP per Capita (in USD)                         144 non-null    float64
 4   Inflation Rate (%)                              144 non-null    float64
 5   Population (in Millions)                        144 non-null    float64
 6   Population Growth Rate (%)                      144 non-null    float64
 7   Urban Population (%)                            144 non-null    float64
 8   Life Expectancy (Years)                         144 non-null    float64
 9   Healthcare Expenditure per Capita (USD)         144 non-null    float64
 10  Doctor-to-Patient Ratio                         144 non-null    float64
 11  Literacy Rate (%)                               144 non-null    float64
 12  Education Expenditure as % of GDP               144 non-null    float64
 13  Internet Penetration (%)                        144 non-null    float64
 14  Smartphone Adoption (%)                         144 non-null    float64
 15  Energy Consumption (TWh)                        144 non-null    float64
 16  Renewable Energy Share (%)                      144 non-null    float64
 17  Military Expenditure (in Billion USD)           144 non-null    float64
 18  Number of Active Military Personnel             144 non-null    float64
 19  CO2 Emissions (Million Metric Tons)             144 non-null    float64
 20  Forest Coverage (%)                             144 non-null    float64
 21  Number of Airports                              144 non-null    float64
 22  Road Network Length (in km)                     144 non-null    float64
 23  Public Transport Usage (%)                      144 non-null    float64
 24  Human Development Index (HDI)                   144 non-null    float64
 25  Gender Equality Index                           144 non-null    float64
 26  Poverty Rate (%)                                144 non-null    float64
 27  Number of International Visitors (in Millions)  144 non-null    float64
 28  Tourism Revenue (in Billion USD)                144 non-null    float64
 29  Agricultural Land (%)                           144 non-null    float64
 30  Unemployment Rate (%)                           144 non-null    float64
 31  Labor Force Participation Rate (%)              144 non-null    float64
 32  Crime Rate (per 100,000)                        144 non-null    float64
 33  Corruption Perception Index                     144 non-null    float64
 34  Freedom of Press Index                          144 non-null    float64
 35  Voting Participation Rate (%)                   144 non-null    float64
dtypes: float64(34), int64(1), object(1)
memory usage: 40.6+ KB
None

In [14]:
country_df = df['Country']

In [15]:
print(country_df.head())

0       USA
1    Russia
2    Canada
3     China
4     India
Name: Country, dtype: object

In [16]:
print(country_df.tail())

139       Russia
140       Canada
141        China
142        India
143    Australia
Name: Country, dtype: object

In [17]:
subset = df[['Country', 'Year', 'Voting Participation Rate (%)']]
print(subset.head())

  Country  Year  Voting Participation Rate (%)
0     USA  2000                          68.81
1  Russia  2000                          65.00
2  Canada  2000                          63.00
3   China  2000                          72.14
4   India  2000                          67.65

In [18]:
print(subset.tail())

       Country  Year  Voting Participation Rate (%)
139     Russia  2023                          65.33
140     Canada  2023                          62.28
141      China  2023                          71.14
142      India  2023                          66.20
143  Australia  2023                          94.39

In [19]:
print(df.loc[0])

Country                                                 USA
Year                                                   2000
GDP (in Trillions USD)                                20.87
GDP per Capita (in USD)                             65455.0
Inflation Rate (%)                                     2.28
Population (in Millions)                             330.34
Population Growth Rate (%)                             0.58
Urban Population (%)                                  83.42
Life Expectancy (Years)                               78.39
Healthcare Expenditure per Capita (USD)             11209.0
Doctor-to-Patient Ratio                                 2.6
Literacy Rate (%)                                    100.78
Education Expenditure as % of GDP                      5.12
Internet Penetration (%)                              84.73
Smartphone Adoption (%)                               88.23
Energy Consumption (TWh)                             4095.0
Renewable Energy Share (%)                            17.31
Military Expenditure (in Billion USD)                724.68
Number of Active Military Personnel               1464400.0
CO2 Emissions (Million Metric Tons)                  5156.1
Forest Coverage (%)                                   31.88
Number of Airports                                  13869.0
Road Network Length (in km)                       6626400.0
Public Transport Usage (%)                            11.74
Human Development Index (HDI)                          0.97
Gender Equality Index                                  0.94
Poverty Rate (%)                                      10.98
Number of International Visitors (in Millions)         80.8
Tourism Revenue (in Billion USD)                     210.98
Agricultural Land (%)                                 42.37
Unemployment Rate (%)                                  3.55
Labor Force Participation Rate (%)                    65.52
Crime Rate (per 100,000)                              287.4
Corruption Perception Index                           67.41
Freedom of Press Index                                45.27
Voting Participation Rate (%)                         68.81
Name: 0, dtype: object